{% extends 'base.html' %}

{% block title %} Edit User {% endblock %}

{% block content %}

<!-- Content goes here-->
    <h1>Edit a user</h1>

    <form method="POST">
        <!--Once the form is sent, get info and add user to url
        value="{{user.first_name}} is user's existing info unless changed
        action="." form action "." goes to where you are; action="."-->
        
        <label for="first_name">First Name</label>
        <input name="first_name" type="text" value="{{user.first_name}}">
    
        <label for="last_name">Last Name</label>
        <input name="last_name" type="text" value="{{user.last_name}}">
    
        <label for="image_url">Image Url</label>
        <input name='image_url' type="url" value="{{user.image_url}}">
    
        
        <button>Save</button>

        <button formaction="/users/{{user.id}}" formmethod="GET">Cancel</button>

        <!-- Or can use use a link that looks like a button and just route them to the user -->
        <!-- <a href="" class="btn btn-primary"></a> -->
        
    </form>

{% endblock %}
