{% extends 'base.html' %}

{% block title %} User Detail {% endblock %}

{% block content %}
    <!-- Content goes here -->
    <h1>{{user.first_name}} {{user.last_name}}</h1>
    <img src="user.image_url" alt="">

    <!-- Is this the best way to route a user -->
    <form action="/users/{{user.id}}/edit">
        <button class="{{user.id}}">Edit</button>
    </form>
    
    <form action="/users/{{user.id}}/delete" method="POST">
        <button class="{{user.id}}">Delete</button>
    </form>

    <h3>Posts</h3>
    <ul>
        {% for post in user_posts %}
        <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
        {% endfor %}
    </ul>

    <form action="/users/{{user.id}}/posts/new">
        <button>Add Post</button>
    </form>
    

{% endblock %}